audio.mulyrix {
	display: block;
	width: 100%;
}

audio.mulyrix::-internal-media-controls-download-button {
	display:none;
}

audio.mulyrix::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio.mulyrix::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}